/Objet.class
/Molette.class
/Combinaison.class
/Gants.class
/Vide.class
/Armure.class
/Blasters.class
/Camera.class
/Chat.class
/Couteau.class
/Debris.class
/Extincteur.class
/Extracteur.class
/Grenade.class
/Medikit.class
/Ration.class
/Savon.class
/Serum.class
/Souche.class
/Tablier.class
/Trottinette.class
